body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 0;
}

/* --------- HEADER ----------*/

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.logo {
  width: 50px;
  height: 80px;
  margin-left: 80px;
}

ul {
  list-style-type: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navmenu a {
  margin-left: 100px;
}

.navmenu {
  margin-right: 300px;
}

.navlog ul li {
  margin-left: 20px;
}

.boutonlog {
  color: white;
  background-color: black;
  padding: 11px;
  border-radius: 10px;
}

.boutonlog:hover {
  color: black;
  background-color: #f2af19;
}

/* --------- HEADER ----------*/

/* --------- MAIN ----------*/

.titre {
  font-size: 45px;
  margin-bottom: 70px;
}

.boite {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.explication {
  width: 300px;
  height: 300px;
  text-align: justify;
  line-height: 25px;
  margin-left: 180px;
  margin-top: 80px;
}

.texte {
  margin-bottom: -10px;
}

.visuelapp {
  background: url("/Images/Free_iPhone_12_Mockup_3.png");
  width: 60%;
  height: 60%;
  margin-top: -40px;
}

.telechargement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -30px;
}

.googleplay {
  width: 210px;
  height: 210px;
}

.appstore {
  width: 170px;
  height: 170px;
}

/* --------- MAIN ----------*/

/* --------- FOOTER ----------*/

footer {
  background: black;
  height: 450px;
  margin-top: 70px;
}

.haut {
  display: flex;
  justify-content: space-between;
}

.reseau {
  margin-left: 75px;
}

.carte {
  margin-right: 75px;
}

.logocarte {
  height: 30px;
  margin-top: 70px;
  padding-left: 10px;
}

.logoreseaufb {
  height: 30px;
  width: 15px;
  margin-top: 70px;
  padding-right: 10px;
}

.logoreseauinsta {
  height: 30px;
  width: 29.43px;
  margin-top: 70px;
  padding-right: 10px;
}

.logoreseautwitter {
  height: 30px;
  width: 36.91px;
  margin-top: 70px;
  padding-right: 100px;
}

.logoethylophone {
  height: 100px;
  width: 65.08px;
  margin-top: 30px;
}

.horizontalline {
  margin-top: 50px;
  background-color: white;
}

.ftnav {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-left: 20px;
}

.ftnav a {
  text-decoration: none;
  color: white;
  padding-left: 45px;
  padding-right: 45px;
}

.mentions {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  text-decoration: none;
  color: white;
}

.bas {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 75px;
}

.politique {
  margin-left: 373px;
}

.bas a {
  text-decoration: none;
  color: white;
}

/* --------- FOOTER ----------*/
